services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: philip
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: impetus-ecommerce
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U philip -d impetus-ecommerce" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  postgres-data:
